<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>AES</title>
</head>

<body>

    <div class="container">
        <h1 id="mainHeading">Advanced Encryption Standard</h1>
        <input type="text" id="key" placeholder="Enter key...">
        <input type="text" id="plainText" placeholder="Enter plaintext">
        <input type="text" id="plain_cipher_text" placeholder="Enter plaintext">
    
        <button id="encryptButton">Encrypt</button>
        <button id="decryptButton">Decrypt</button>

        <h6>1234567890abcdef</h6>
    </div>

<script src="static/index.js" defer></script>
</body>
</html>